<br />
<div class="container-fluid">
  <div class="row mt-5 pt-4">
    <div [ngClass]="isSidePanelOpen == true ? 'col-md-7' : 'col-md-12'">
      <div class="card">
        <div
          class="card-header text-white"
          style="background-color: #3f51b5; font-size: 18px"
        >
          <span class="pt-5">Advance Salary</span>
          <span style="float: right">
            <button
              mat-raised-button
              style="width: 0px; height: 32px"
              (click)="openSidePanel()"
            >
              Create
            </button>
          </span>
        </div>

        <div class="card-body table-secondary">
          <table class="table table-bordered" style="width: 100%">
            <thead>
              <tr>
                <th>Sr</th>
                <th style="width: 265px">Name</th>
                <th>Contact</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Reason</th>
                <th style="width: 165px">Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let salary of salaryAdvanceArray; let sr = index">
                <td>{{ sr + 1 }}</td>
                <td>{{ salary.empName }}</td>
                <td>{{ salary.empContactNo }}</td>
                <td>{{ salary.advanceDate | date : "dd-MM-yyyy" }}</td>
                <td>{{ salary.advanceAmount }}</td>
                <td>{{ salary.reason }}</td>
                <td>
                  <button
                    style="width: 0px; height: 32px"
                    class=""
                    mat-raised-button
                    color="primary"
                    (click)="onEdit(salary)"
                  >
                    Edit
                  </button>
                  <button
                    style="width: 0px; height: 32px"
                    mat-raised-button
                    color="warn"
                    (click)="onDelete(salary.advanceId)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-5" *ngIf="isSidePanelOpen">
      <div class="card">
        <div
          class="card-header text-white"
          style="background-color: #3f51b5; font-size: 18px"
        >
          Advance Salary Form
          <span
            ><button
              style="float: right; width: 0px; height: 32px"
              mat-raised-button
              color="warn"
              (click)="closeSidePanel()"
            >
              Close
            </button></span
          >
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <mat-form-field>
                <mat-label>Employee</mat-label>
                <mat-select [(ngModel)]="salarayAdvanceObj.employeeId">
                  <mat-option>None</mat-option>
                  <mat-option
                    *ngFor="let salary of employeeArray"
                    [value]="salary.empId"
                    >{{ salary.empName }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field class="example-full-width">
                <mat-label>Contact No</mat-label>
                <input
                  type="tel"
                  maxlength="10"
                  matInput
                  placeholder="555-555-1234"
                  [(ngModel)]="salarayAdvanceObj.empContactNo"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <mat-form-field style="width: 220px">
                <mat-label>Choose a date</mat-label>
                <input
                  matInput
                  [matDatepickerFilter]="myFilter"
                  [matDatepicker]="picker"
                  [(ngModel)]="salarayAdvanceObj.advanceDate"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field class="example-full-width">
                <mat-label>Amount</mat-label>
                <input
                  matInput
                  type="number"
                  [(ngModel)]="salarayAdvanceObj.advanceAmount"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <mat-form-field class="example-full-width" style="width: 470px">
                <mat-label>Reason</mat-label>
                <textarea
                  matInput
                  placeholder="Reason for advance amount"
                  [(ngModel)]="salarayAdvanceObj.reason"
                >
Reason</textarea
                >
              </mat-form-field>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-6" style="padding-left: 170px">
              <button
                style="background-color: rgba(76, 73, 73, 0.826); color: white"
                mat-raised-button
                (click)="onReset()"
              >
                Reset
              </button>
            </div>
            <div class="col-6" style="padding-right: 170px">
              <button
                mat-raised-button
                color="primary"
                *ngIf="this.salarayAdvanceObj.advanceId == 0"
                (click)="saveSalary()"
              >
                Save
              </button>
              <button
                mat-raised-button
                color="primary"
                *ngIf="this.salarayAdvanceObj.advanceId !== 0"
                (click)="updateSalary()"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast position="top-center"></p-toast>
