<br>

<div class="container-fluid mt-5 pt-4">

  <div class="row">
    <div class="col-xl-4 col-sm-6 col-12">
      <div class="card shadow border-0 boxes-set">
        <div class="card-body" style="background-color: #ea6a476c;">
          <div class="row">
            <div class="col" *ngFor="let dash of adminDashboardArray">
              <span class="h3 font-bold mb-0">{{dash.totalEmployee}}</span>
              <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Employees</span>

            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                <div class="icon">

                  <img src="../../assets/img/employee.png" style="width: 90px; height:80px ;">
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="mt-2 mb-0 text-sm box-footer" >
          <span class="badge badge-pill bg-soft-success text-success me-2">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          </span>
          <span class="text-nowrap text-xs text-muted"> View Details</span>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-sm-6 col-12">
      <div class="card shadow border-0 boxes-set">
        <div class="card-body" style="background-color: #0091d570;">
          <div class="row">
            <div class="col" *ngFor="let dash of adminDashboardArray">

              <span class="h3 font-bold mb-0">{{dash.totalAdvanceRecordCount}}</span>
              <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Advance</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                <div class="icon">

                  <img src="../../assets/img/payment-method.png" style="width: 90px; height:80px ;">
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="mt-2  text-sm  box-footer">
          <span class="badge badge-pill bg-soft-success text-success ">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          </span>
          <span class="text-nowrap text-xs text-muted"> View Details</span>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-sm-6 col-12">
      <div class="card shadow border-0 boxes-set">
        <div class="card-body" style="background-color: #ac3d3159;">
          <div class="row">
            <div class="col" *ngFor="let dash of adminDashboardArray">
              <span class="h3 font-bold mb-0">{{dash.totalSalaryCount}}</span>
              <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Salary</span>

            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                <div class="icon">

                  <img src="../../assets/img/money.png" style="width: 90px; height:80px ;">
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="mt-2  text-sm  box-footer">
          <span class="badge badge-pill bg-soft-success text-success ">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          </span>
          <span class="text-nowrap text-xs text-muted"> View Details</span>
        </div>
      </div>
    </div>


  </div>
  <div class="row mt-5">
    <div class="col-xl-4 col-sm-6 col-12">
      <div class="card shadow border-0 boxes-set">
        <div class="card-body" style="background-color: #3a8bdd93;">
          <div class="row">
            <div class="col" *ngFor="let dash of adminDashboardArray">
              <span class="h3 font-bold mb-0">{{dash.totalLeavesCount}}</span>
              <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Leaves</span>

            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                <div class="icon">

                  <img src="../../assets/img/calendar.png" style="width: 90px; height:80px ;">
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="mt-2  text-sm  box-footer">
          <span class="badge badge-pill bg-soft-success text-success ">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          </span>
          <span class="text-nowrap text-xs text-muted"> View Details</span>
        </div>
      </div>
    </div>


    <div class="col-xl-4 col-sm-6 col-12">
      <div class="card shadow border-0 boxes-set">
        <div class="card-body" style="background-color: #6ab18869;">
          <div class="row">
            <div class="col" *ngFor="let dash of adminDashboardArray">
              <span class="h3 font-bold mb-0">{{300}}</span>
              <span class="h6 font-semibold text-muted text-sm d-block mb-2" >Total Todays Advance </span>

            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                <div class="icon">

                  <img src="../../assets/img/cash.png" style="width: 90px; height:80px ;">
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="mt-2  text-sm  box-footer">
          <span class="badge badge-pill bg-soft-success text-success ">
            <a>
              <i class="fa fa-arrow-circle-right" aria-hidden="true"> </i>
            </a>

          </span>
          <span class="text-nowrap text-xs text-muted"> View Details</span>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-sm-6 col-12">
      <div class="card shadow border-0 boxes-set">
        <div class="card-body" style="background-color:  #04268663;">
          <div class="row">
            <div class="col" *ngFor="let dash of adminDashboardArray">
              <span class="h3 font-bold mb-0">{{dash.todaysLeaves}}</span>
              <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Leaves</span>

            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                <div class="icon">

                  <img src="../../assets/img/calendar (1).png" style="width: 90px; height:80px ;">
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="mt-2  text-sm  box-footer">
          <span class="badge badge-pill bg-soft-success text-success ">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          </span>
          <span class="text-nowrap text-xs text-muted"> View Details</span>
        </div>
      </div>
    </div>


  </div>





















</div><!--./row-->

<!--./container-->
