<!-- table -->

<br />
<div class="container-fluid">
  <div class="row mt-5 pt-4">
    <div [ngClass]="isSidePanelOpen == true ? 'col-md-7' : 'col-md-12'">
      <div class="card">
        <div
          class="card-header text-white"
          style="background-color: #3f51b5; font-size: 18px"
        >
          <span class="pt-5">Employee Attendance</span>
          <span style="float: right">
            <button
              mat-raised-button
              style="width: 0px; height: 32px"
              (click)="openSidePanel()"
            >
              Create
            </button>
          </span>
        </div>

        <div class="card-body table-secondary">
          <table class="table table-bordered" style="width: 100%">
            <thead>
              <tr>
                <th>Sr</th>
                <th style="width: 265px">Name</th>
                <th>Date</th>
                <th>In Time</th>
                <th>Out Time</th>
                <th>Full Day</th>
                <th style="width: 165px">Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let attendance of attendanceArray; let sr = index">
                <td>{{ sr + 1 }}</td>
                <td>{{ attendance.empName }}</td>
                <td>{{ attendance.attendanceDate | date : "dd-MMMM-yyyy" }}</td>
                <td>{{ attendance.inTime | date : "hh:mm a" }}</td>
                <td>{{ attendance.outTime | date : "hh:mm a" }}</td>
                <td>{{ attendance.isFullDay ? "Yes" : "No" }}</td>
                <td>
                  <button
                    style="width: 0px; height: 32px"
                    class=""
                    mat-raised-button
                    color="primary"
                    (click)="onEdit(attendance)"
                  >
                    Edit
                  </button>
                  <button
                    style="width: 0px; height: 32px"
                    mat-raised-button
                    color="warn"
                    (click)="onDelete(attendance.attendanceId)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-5" *ngIf="isSidePanelOpen">
      <div class="card">
        <div
          class="card-header text-white"
          style="background-color: #3f51b5; font-size: 18px"
        >
          Attendance
          <span
            ><button
              style="float: right; width: 0px; height: 32px"
              mat-raised-button
              color="warn"
              (click)="closeSidePanel()"
            >
              Close
            </button></span
          >
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <mat-form-field>
                <mat-label>Employee</mat-label>
                <mat-select [(ngModel)]="attendanceObj.employeeId">
                  <mat-option>None</mat-option>
                  <mat-option
                    *ngFor="let emp of employeeArray"
                    [value]="emp.empId"
                    >{{ emp.empName }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field style="width: 220px">
                <mat-label>Choose a date</mat-label>
                <input
                  matInput
                  [matDatepickerFilter]="myFilter"
                  [matDatepicker]="picker"
                  [(ngModel)]="attendanceObj.attendanceDate"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <mat-form-field style="width: 220px">
                <mat-label>In time</mat-label>
                <input
                  matInput
                  type="time"
                  [(ngModel)]="attendanceObj.inTime"
                />
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field style="width: 220px">
                <mat-label>Out time</mat-label>
                <input
                  matInput
                  type="time"
                  [(ngModel)]="attendanceObj.outTime"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <mat-checkbox
                class="example-margin"
                [(ngModel)]="attendanceObj.isFullDay"
                >Full day</mat-checkbox
              >
            </div>
          </div>
          <div class="row text-center">
            <div class="col-6" style="padding-left: 170px">
              <button
                style="background-color: rgba(76, 73, 73, 0.826); color: white"
                mat-raised-button
                (click)="onReset()"
              >
                Reset
              </button>
            </div>
            <div class="col-6" style="padding-right: 170px">
              <button
                mat-raised-button
                color="primary"
                *ngIf="this.attendanceObj.attendanceId == 0"
                (click)="saveAttendance()"
              >
                Save
              </button>
              <button
                mat-raised-button
                color="primary"
                *ngIf="this.attendanceObj.attendanceId !== 0"
                (click)="updatedAttendance()"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast position="top-center"></p-toast>
